/************************ 
    #Importing google poppins font 
*************************/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/************************ 
    Defining Variables
*************************/ 

:root {
    --text-color-grey: #6C6C6C ;
    --text-color-white: #fff;
    --text-color-black: #18191F;
    --root-font-size: 62.5%;
    --small-gutter: 16px;
    --medium-gutter: 30px;
    --large-gutter: 50px;
    --blue-color: #2D25A0;
    --btn-bg-color: #E02C6D;
}

/************************ 
    Overwriting browser defined default  margin & padding and making its boxes to border boxes.
*************************/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************ 
    Basic Styles for the body and html
*************************/ 

html {
    font-size: var(--root-font-size);
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-grey);
    font-weight: 400;
}

/************************ 
    Basic styles for some specific tags
*************************/ 

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--text-color-black);
    line-height: 1;
}

img {
    width: 100%;
}

/************************ 
    Primary Styles for buttons
*************************/ 

.btn {
    background-color: var(--btn-bg-color);
    color: var(--text-white);
    text-transform: uppercase;
    padding: 10px 24px;
}

/************************ 
    Row width and Some helper classes for faster development
*************************/ 
.section-title {
    color: var(--text-color-black);
    font-weight: 500;
}

.row {
    max-width: 1050px; /* 1050px is taken from the design*/
    margin: 0 auto;
}

.mt-sm {
    margin-top: var(--small-gutter);
}

.mt-md {
    margin-top: var(--medium-gutter);
}

.mb-lg {
    margin-bottom: var(--large-gutter);
}

.centered-text {
    text-align: center;
}

/************************ 
    Styles for the header section
*************************/ 

.header-section {
    background-color: var(--blue-color);
    color: var(--text-color-white);
}

.header {
    display: flex;
    align-items: center;
    padding: var(--large-gutter) 0;
}

.header__detail a {
    display: inline-block;
}

.header__img img {
    max-width: 80%;
    display: block;
    margin-left: auto;

}

.header__btn {
    transition: all .3s;
}

.header__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .4);
}
.header__btn:active {
    transform: scale(1.06);
    box-shadow: 0 2px 20px 2px rgba(0, 0, 0, .4);
}


/************************ 
    Styles for the players' cards
*************************/ 
.player-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--medium-gutter);
}

.player-card {
    min-height: 420px;
    padding: var(--small-gutter);
    box-shadow:  0px 5px 15px rgba(0, 0, 0, 0.35);
}

/************************ 
    Styles for the Blog section
*************************/ 

.blog {
    display: flex;
    width: 70%;
    margin: 0 auto 16px;
    max-height: 400px;
    background-color: #E7E7E8;
}

.blog img {
    width: 280px;
    max-height: 200px;
}

.blog-info {
    padding: var(--small-gutter);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-btn {
    display: flex;
    justify-content: space-between;
}

.blog a {
    color: var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
}

/************************ 
    Styles for the Sponsor section
*************************/ 

.sponsor__images .sponsor-img {
    width: 120px;
}

.sponsor-img:not(:last-child) {
    margin-right: var(--small-gutter);
}



/************************ 
    Styles for the footer section
*************************/ 

footer .row > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo img {
    width: 200px;
}

.social__links .social__item {
    display: inline-block;
}

.social__item:not(:last-child) {
    margin-right: 10px ;
}

a.social__link-item {
    font-size: 17px;
    padding: 10px;
    width: 32px;
    height: 32px;
    border-radius: 60px;
    color: #969BAB;
    background-color: #E7E7E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright-text p {
    font-size: 18px;
    color: var(--text-color-black);
}


/************************ 
    Media Queries
*************************/ 

/************************ 
    Media Queries For Mobile Devices 
*************************/ 

@media only screen and (max-width: 768px) {

    .row {
        padding: var(--small-gutter);
    }

    h1 {
        font-size: 5.2rem;
    }
    .header {
        display: block;
    }

    .header__img {
        margin-top: var(--medium-gutter);
    }

    .header__img img {
        margin-left: 0;
    }

    .player-cards {
        display: block;
    }

    .player-card:not(:last-child) {
        margin-bottom: var(--small-gutter);
    }

    .blog {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .column-reverse {
        margin-top: 70px;
        flex-direction: column-reverse;
    }
    .blog img {
        width: 100%;
    }

    .sponsor__images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap:  var(--small-gutter);
    }

    .sponsor__images .sponsor-img {
        width: 120px;
        display: block;
        margin: 0 auto;
    }
    .date-btn {
    margin-top: var(--small-gutter);
    }
}
    

/************************ 
    Media Queries For Tablet Devices 
*************************/
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    
    .row {
        padding: var(--small-gutter);
    }

    h1 {
        font-size: 6rem;
    }
    .section-title {
        font-size: 4rem;
    }

    .header__img img {
        max-width: 100%;
        margin: 0;
    }
    .blog {
        width: 100%;
    }

    .player-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
